* {
  margin: 0;
  padding: 0;
}
body {
  background-color: beige;
}
.topnav a {
  color: #353935;
  font-size: 20px;
  padding: 14px 16px;
  padding-top: 10px;
}
.topnav a:hover {
  background-color: lemonchiffon;
  color: midnightblue;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main > div {
  display: grid;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
  height: 400px;
  background-color: gray;
  gap: 8px;
  text-align: center;
  grid-template-areas:
    "a a a b b c"
    "a a a b b c"
    "d d e e e c"
    "d d f f f c";
}
.a {
  background-color: crimson;
  grid-area: a;
}
.b {
  background-color: blueviolet;
  grid-area: b;
}
.c {
  background-color: gray;
  grid-area: c;
}
.d {
  background-color: black;
  grid-area: d;
}
.e {
  background-color: teal;
  grid-area: e;
}
.f {
  background-color: teal;
  grid-area: f;
}
@media screen and (max-width: 375px) {
    .gridcontainer {
      width: 100%;
    }
  }